<div class="flex">

  <!-- Mobile menu button -- corregir la ubicacion -->  
  <div 
      id="btn-menu"
      type="button"
      (click)="toggleMenu()"
      class="inline-flex items-center text-primary
      p-2 mt-2 ml-3 text-sm fixed top-2 right-2
      rounded-lg sm:hidden hover:bg-base-100 hover:text-neutral-content"
    >
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor">
      <use href="assets/sprite.svg#icon-menu"></use>
    </svg>
  </div>
  <!-- Sidebar -->
  <aside 
  class="fixed top-0 left-0 z-40 w-64 h-screen bg-base-100 text-base-content border-r border-primary-content 
          transform -translate-x-full transition-transform duration-300 sm:translate-x-0" [class.-translate-x-full]="!isOpenMenu"
  >
    <div class="overflow-y-auto py-5 px-3 h-full">
        <ul class="space-y-2">
            <li>
                <p href="#" class="flex flex-col items-center text-base-content/90 rounded-lg group">
                <span class="ml-3 pb-4 text-primary text-2xl font-bold ">Sistema Comercial</span>
                <svg aria-hidden="true" class="w-20 h-20 " fill="currentColor">
                  <use href="assets/sprite.svg#icon-user"></use>
                </svg>
                <span class="ml-5">Bienbenido</span>
                <span class="ml-5">{{userName()}}</span>
                <span class="ml-5">({{userRole()}})</span>
              </p>
            </li>
            <li>
              <button type="button" 
                (click)="tdInicio()" 
                class="flex items-center p-2 w-full text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
                  <svg aria-hidden="true" class="w-6 h-6 transition duration-75 " fill="currentColor">
                    <use href="assets/sprite.svg#icon-home"></use>
                  </svg>
                  <span class="flex-1 ml-3 text-left whitespace-nowrap">Inicio</span>
                  <svg aria-hidden="true" class="w-6 h-6 transition-transform duration-300"
                    [class.rotate-180]="isTdinicio"
                    fill="currentColor">
                    <use href="assets/sprite.svg#icon-arrow-down"></use>
                  </svg>
              </button>

              <ul 
                class="overflow-hidden transition-all duration-300 p-0 space-y-2"
                [style.maxHeight]="isTdinicio ? '500px' : '0px'"
              >
                  <li>
                      <a routerLink="homepage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary ">Resumen General</a>
                  </li>
                  <li>
                      <a routerLink="update" class="flex items-center p-2 pl-11 w-full text-base-content font-normal rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary ">Ultimas Actualizaciones</a>
                  </li>
              </ul>
            </li>
            <li>
                <button type="button" 
                  (click)="tdProgramacion()" 
                  class="flex items-center p-2 w-full text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
                    <svg aria-hidden="true" class=" w-6 h-6 transition duration-75" fill="currentColor">
                      <use href="assets/sprite.svg#icon-document"></use>  
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Programacion</span>
                    <svg aria-hidden="true" class="w-6 h-6 transition-transform duration-300"
                      [class.rotate-180]="isTdprogramacion" fill="currentColor">
                      <use href="assets/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
                <ul 
                  class="overflow-hidden transition-all duration-300 p-0 space-y-2"
                  [style.maxHeight]="isTdprogramacion ? '500px' : '0px'"
                >
                        <li>
                            <a routerLink="taskpage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Subir tareo</a>
                        </li>
                        <li>
                            <a routerLink="monitoringpage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Mapa de monitoreo</a>
                        </li>
                        <li>
                            <a routerLink="historypage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Historial de tareo</a>
                        </li>
                </ul>
            </li>
            <li>
              <button type="button" 
                  (click)="tdReportes()" 
                  class="flex items-center p-2 w-full text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
                    <svg aria-hidden="true" class=" w-6 h-6 transition duration-75"fill="currentColor">
                    <use href="assets/sprite.svg#icon-report"></use>  
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Reportes</span>
                    <svg aria-hidden="true" class="w-6 h-6 transition-transform duration-300"
                      [class.rotate-180]="isTdreportes"
                      fill="currentColor">
                      <use href="assets/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
                <ul 
                  class="overflow-hidden transition-all duration-300 p-0 space-y-2"
                  [style.maxHeight]="isTdreportes ? '500px' : '0px'"
                >
                        <li>
                            <a routerLink="reportspage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Estado de ejecucion</a>
                        </li>
                        <li>
                            <a routerLink="exportspage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Exportar datos</a>
                        </li>
                </ul>
            </li>
            <li>
              <button type="button" 
                  (click)="tdPerfil()" 
                  class="flex items-center p-2 w-full text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
                    <svg aria-hidden="true" class=" w-6 h-6 
                    transition duration-75" fill="currentColor">
                    <use href="assets/sprite.svg#icon-user"></use>  
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Perfil</span>
                    <svg aria-hidden="true" class="w-6 h-6 transition-transform duration-300"
                      [class.rotate-180]="isTdperfil"
                      fill="currentColor">
                      <use href="assets/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
                <ul 
                  class="overflow-hidden transition-all duration-300 p-0 space-y-2"
                  [style.maxHeight]="isTdperfil ? '500px' : '0px'"
                >
                        <li>
                            <a routerLink="perfilpage" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Datos personales</a>
                        </li>
                        <li>
                            <a routerLink="updateuser" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Cambiar contraseña</a>
                        </li>
                </ul>
            </li>
        </ul>
        <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
          <li>
              <button type="button" 
                  (click)="tdAyuda()" 
                  class="flex items-center p-2 w-full text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
                    <svg aria-hidden="true" class=" w-6 h-6 transition duration-75" fill="currentColor">
                    <use href="assets/sprite.svg#icon-help"></use>  
                    </svg>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Ayuda</span>
                    <svg aria-hidden="true" class="w-6 h-6 transition-transform duration-300"
                      [class.rotate-180]="isTdAyuda"
                      fill="currentColor">
                      <use href="assets/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
                <ul 
                  class="overflow-hidden transition-all duration-300 p-0 space-y-2"
                  [style.maxHeight]="isTdAyuda ? '500px' : '0px'"
                >
                        <li>
                            <a href="#" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Preguntas frecuentes</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Contacto Soporte</a>
                        </li>
                </ul>
            </li>
            <li>
              <button type="button" 
                  (click)="tdConfi()" 
                  class="flex items-center p-2 w-full text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
                    <svg aria-hidden="true" class=" w-6 h-6 transition duration-75" fill="currentColor">
                    <use href="assets/sprite.svg#icon-config"></use>  
                    </svg>
                    
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Configuración</span>
                    <svg aria-hidden="true" class="w-6 h-6 transition-transform duration-300"
                      [class.rotate-180]="isTdconfi"
                      fill="currentColor">
                      <use href="assets/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
                <ul 
                  class="overflow-hidden transition-all duration-300 p-0 space-y-2"
                  [style.maxHeight]="isTdconfi ? '500px' : '0px'"
                >
                        <li>
                            <a href="#" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Usuarios</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Roles y permisos</a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center p-2 pl-11 w-full text-base-content font-normal  rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">Parametros de sistema</a>
                        </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="absolute bottom-0  w-64">
      <div class="flex flex-row justify-center ">
        <div href="#" class=" justify-center p-2 text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary ">
          <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>
        </div>
        <div href="#" data-tooltip-target="tooltip-settings" class=" justify-center p-2 text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
          <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
        </div>
        <div type="button" data-dropdown-toggle="language-dropdown" class=" justify-center p-2 text-base-content 
                    rounded-lg transition duration-75 group hover:bg-base-200 hover:text-primary">
          <svg aria-hidden="true" class="h-5 w-5 rounded-full mt-0.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3900 3900"><path fill="#b22234" d="M0 0h7410v3900H0z"/><path d="M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0" stroke="#fff" stroke-width="300"/><path fill="#3c3b6e" d="M0 0h2964v2100H0z"/><g fill="#fff"><g id="d"><g id="c"><g id="e"><g id="b"><path id="a" d="M247 90l70.534 217.082-184.66-134.164h228.253L176.466 307.082z"/><use xlink:href="#a" y="420"/><use xlink:href="#a" y="840"/><use xlink:href="#a" y="1260"/></g><use xlink:href="#a" y="1680"/></g><use xlink:href="#b" x="247" y="210"/></g><use xlink:href="#c" x="494"/></g><use xlink:href="#d" x="988"/><use xlink:href="#c" x="1976"/><use xlink:href="#e" x="2470"/></g></svg>
        </div>
      </div>
    </div>
  </aside>
  <main class="flex-1 p-6 sm:ml-64"> 
    <router-outlet></router-outlet>
  </main>
</div>